<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Songlet" src="{{ "/assets/img/songlet.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Songlet</h5>
      <ul>
        <li>React, Redux, Node, Express, MongoDB</li>
      </ul>
      <p>Single page application built with the MERN stack. Search for any song to view an audio features analysis (using Spotify API's ratings of danceability, energy, acousticness, instrumentalness, and positivity). Integrated a D3 module for data visualization so the analysis data is graphed and easily understandable.</p>
      <a class="project-link" href="https://songlet.herokuapp.com/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Bike Taipei" src="{{ "/assets/img/biketaipei.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Bike Taipei</h5>
      <li>Swift, Google Maps iOS SDK, Open Data</li>
      <p>Map-based iOS app for checking availability of the YouBike bikeshare system in Taipei, Taiwan. Used Google Maps SDK for iOS and Open Data from Taipei City. Designed a simple UI/UX for ease of use.</p>
      <a class="project-link" href="https://itunes.apple.com/us/app/bike-taipei/id1234145739">Check it out</a>
    </div>
  </div>
</div>


